# dev
.vscode
.idea

# cache
*.pyc
__pycache__

# logs 
lightning_logs/

# weights
*.pt
*.pth
*.ckpt

# package
build/
dist/
fastface.egg-info/

# docs
docs/source/_build/

# tests & reports
.coverage